%h3 คู่มือการใช้งาน
:textile
  h4. การติดตั้งฟอนต์
  
  ทำการดาวน์โหลดฟอนต์  "TH SarabunPSK":/fonts/sarabun.zip และติดตั้งฟอนต์ทั้ง 4 แบบลงในเครื่อง
  กรณีเครื่อง Windows ให้ติดตั้งโดยใช้ Control Panel > Fonts และกรณีเครื่อง Linux ให้ติดตั้งไว้ที่
  /usr/share/fonts


  h4. การแก้ไขไฟล์ hosts

  เครื่องแม่ข่ายจะถูกติดตั้งอยู่ที่ตำแหน่ง 192.168.1.99 หากต้องการตั้งชื่อให้เข้าไปแก้ไขไฟล์ hosts สำหรับ
  Windows XP ไฟล์นี้จะอยู่ที่ c:\windows\system32\drivers\etc\hosts
  หรือ ==%SystemRoot%\system32\drivers\etc\hosts== สำหรับ Windows รุ่นอื่นๆ
  จากนั้นใส่เลข ip และชื่อที่ต้องการ  คั่นด้วยเครื่องหมายเว้นวรรค เช่น 192.168.1.99 bangtanai

  h4. การปรับปรุงระบบงาน

  ผู้ใช้ที่เป็นผู้ดูแลระบบ เมื่อล็อกอินแล้วเลือกหัวข้อ *ผู้ดูแลระบบ* แล้วเลือก *ปรับปรุงระบบงาน* จากเมนูทางด้านซ้าย
  เมื่อปรับปรุงระบบงานแล้ว สามารถตรวจสอบรุ่นที่ใช้อยู่ได้จากข้อความ eLocal ที่อยู่ด้านล่างสุด

  h4. การตั้งการทำงานประจำวัน

  การติดต่อกับ heroku ต้องกระทำในฐานะของผู้พัฒนาระบบ โดยแก้ไขด้วยคำสั่ง crontab -e
  การปิดเครื่อง ต้องกระทำในฐานะของ root โดยใช้คำสั่ง sudo crontab -e
  โดยทั่วไป เครื่องแม่ข่ายจะถูกสั่งงานให้ทำสำรองข้อมูลทุกวัน เวลา 22:30 น. และปิดเครื่องเวลา 23:50 น.
