%h2(style="margin-top:0; padding-top:0;") Goal: Feb 18, 11
\- test message OTA_HotelDescriptiveContentNotifRQ/RS

%h2 Schedule
\- Feb 14, 11 at 1pm: train GMindApp via Skype
%br - Feb 17, 11 at 6pm: weekly meeting

