/ http://arshaw.com/fullcalendar/docs
= javascript_include_tag "fullcalendar.min"
= stylesheet_link_tag "fullcalendar"

:javascript
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();
  $(function(){
    $('#calendar').fullCalendar({
      events: [
        {
        title: 'Limit: 10',
        start: new Date(y, m, 5)
        },
        {
        title: 'Booked: 8',
        start: new Date(y, m, 5),
        color: '#FE8396'
        },
        {
        title: 'Limit: 25',
        start: new Date(y, m, d)
        },
        {
        title: 'Booked: 10',
        start: new Date(y, m, d),
        color: '#FE8396'
        }
      ]
    });
  })
  
#calendar(style='width:100%;')
