<table width="100%">
  <tr>
    <td class="field-name">รหัสผ่านเก่า</td>
    <td><%= text_field_tag :pwd_old, nil, :style => "width:200px;" %></td>
  </tr>
  <tr>
    <td class="field-name">รหัสผ่านใหม่</td>
    <td><%= text_field_tag :pwd_new, nil, :style => "width:200px;" %></td>
  </tr>
</table>
