!!! XML
%OTA_HotelResRS{"xmlns:xsi"=>"http://www.w3.org/2001/XMLSchema-instance", |
  "xmlns"=>"http://www.opentravel.org/OTA/2003/05", |
  "xsi:schemaLocation"=>"http://www.opentravel.org/OTA/2003/05 OTA_HotelResRS.xsd", |
  :TimeStamp=>Time.now.strftime('%FT%T'), |
  :Target=>TARGET, :Version=>"1.001", :SequenceNmbr=>"1"} |
  - if @err
    %Errors
      %Error{:Type=>@err_type}
        = @err
  - else
    %Success
    %HotelReservations
      %HotelReservation
        %ResGlobalInfo
          %HotelReservationIDs
            %HotelReservationID{ "ResID_Value"=> @log_request.id}
