:css
  .url {color: blue;}

%h4 message OTA_HotelDescriptiveContentNotif
.url http://pob-ws.heroku.com/api/hotel_descriptive_content_notif
%b Example (Ruby)
.example response= RestClient.post "http://pob-ws.heroku.com/api/hotel_descriptive_content_notif", xml
%h4 message OTA_HotelAvailNotif
.url http://pob-ws.heroku.com/api/hotel_avail_notif
.note one property at a time
%h4 message OTA_HotelSearchRQ
.url http://pob-ws.heroku.com/api/hotel_search
.note can request multiple properties