<% u= GmaUser.find GmaUser.find $xvars[:select_user][:user_id] %>
เรียน คุณ<%= u.fname %> <%= u.lname %>,<p/>
  ผู้ดูแลระบบ ได้ทำการแก้ไขรหัสผ่านของท่าน โดยท่านสามารถเข้าใช้งานระบบ<br/>
  สารสนเทศบูรณาการเพื่อการบริหารงาน อปท. ได้โดยใช้ข้อมูลดังต่อไปนี้
  <hr/>
  รหัสผู้ใช้: <%= u.login %><br/>
  รหัสผ่าน: <%= @xvars[:edit_pwd][:pwd] %>
