%h4(style='text-align:center;') ทะเบียนโรงแรม
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    %th(style='width:50px;') พื้นที่
    %th ชื่อ
    %th ชื่อผู้จัดการ
    %th โทรศัพท์
  - @rr1s.each do |rr|
    %tr
      %td(align='center')= rr.district.try(:name)
      %td= rr.hotel_name
      %td= rr.manager_name
      %td= rr.manager_phone
